footer {

    position: fixed;
    padding: .5rem;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.415);
    width: 100%;
    text-align: right;
    p {
        padding-right: 2rem;
    }
    }