* {
    padding: 0;
    margin: 0;
    font-family: var(--ff-main);
}
body {
    width: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.jobs, main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;

}

.error-msg {
    font-size: 2rem;
    color: rgb(109, 104, 104);
}
