:root {
  --ff-main: "K2D", sans-serif;
  --clr-dark: #4F518C;
  --clr-bg: #DABFFF14;
  --clr-tags: #DABFFF;
}

.font-thin {
  font-family: var(--ff-main);
  font-weight: 100;
  font-style: normal;
}
.font-regular {
  font-family: var(--ff-main);
  font-weight: 400;
  font-style: normal;
}
.font-medium {
  font-family: var(--ff-main);
  font-weight: 500;
  font-style: normal;
}
.font-bold {
  font-family: var(--ff-main);
  font-weight: 700;
  font-style: normal;
}

.subheading {
  color: var(--clr-dark);
  font-size: 24px;
  margin-bottom: -0.5rem;
}

.heading {
  color: var(--clr-dark);
  font-size: 36px;
}

.card-position {
  color: var(--clr-dark);
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--ff-main);
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: whitesmoke;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs, main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.error-msg {
  font-size: 2rem;
  color: rgb(109, 104, 104);
}

header {
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.headers {
  max-width: 400px;
}

.heading {
  text-align: center;
}

.filering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.searchbar {
  width: 100%;
  border: 1px solid var(--clr-dark);
  padding: 10px 0;
  border-radius: 50px;
  margin-top: 1.2rem;
  font-size: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.searchbar-input {
  width: 80%;
  padding: 10px;
  text-align: center;
  border: none;
  margin-left: 10px;
  background: none;
  height: 100%;
  font-size: 20px;
}

.searchbar-input::-webkit-input-placeholder {
  font-family: var(--ff-main);
  font-size: 20px;
}

.searchbar-input::-moz-placeholder {
  font-family: var(--ff-main);
  font-size: 20px;
}

.searchbar-input:-ms-input-placeholder {
  font-family: var(--ff-main);
  font-size: 20px;
}

.searchbar-input::-ms-input-placeholder {
  font-family: var(--ff-main);
  font-size: 20px;
}

.searchbar-input::placeholder {
  font-family: var(--ff-main);
  font-size: 20px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 400px;
  height: 100%;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--clr-bg);
}
.card-date {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card-top-info {
  padding-left: 1rem;
}
.card-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.card-mid p {
  background-color: var(--clr-tags);
  margin: 0.5rem;
  padding: 0.2rem 1rem;
  text-align: center;
  border-radius: 50px;
}
.card-mid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

:root {
  --clr-bg-blue: #7FDEFF;
  --clr-bg-hover: #B19CCF;
}

.apply-btn {
  color: var(--clr-dark);
  font-size: 20px;
  background-color: var(--clr-bg-blue);
  padding: 1rem 5.5rem;
  border: none;
  border-radius: 50px;
}
.apply-btn:hover {
  cursor: pointer;
  background-color: var(--clr-bg-hover);
  color: white;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-dark);
}
.nav-link:hover {
  color: var(--clr-bg-hover);
}

.filter-btn {
  margin: 1rem;
}

footer {
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.415);
  width: 100%;
  text-align: right;
}
footer p {
  padding-right: 2rem;
}

@media (min-width: 700px) {
  .jobs, .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
}/*# sourceMappingURL=index.css.map */